*.o
*~
*.lo
*.la
.deps
.libs
/Makefile.in
/autom4te.cache/
/build/Makefile.in
/config.h.in
/config.log
/config.status
/doc/Makefile
/doc/Makefile.in
/doc/doxygen-build.stamp
/doc/html/
/doc/latex/
/doc/man/
/examples/Makefile.in
/examples/example_client
/examples/example_server
/examples/example_tcp_echo_server
/examples/nonblocking_server_example
/examples/cpp_example
/liblo.pc
/lo/Makefile
/lo/Makefile.in
/lo/lo.h
/lo/lo_endian.h
/ltmain.sh
/README
/src/Makefile.in
/src/cpp_test
/src/liblo.def
/src/subtest
/src/test_bidirectional_tcp
/src/testlo
/src/tools/Makefile.in
/src/tools/oscdump
/src/tools/oscsend
/stamp-h1
/test
/test.cpp
