*.o
*~
*.lo
*.la
.deps
.libs
/autom4te.cache/
/config.h.in
/config.log
/config.status
/doc/doxygen-build.stamp
/doc/html/
/doc/latex/
/doc/man/
/examples/example_client
/examples/example_server
/examples/example_tcp_echo_server
/examples/nonblocking_server_example
/examples/cpp_example
/ltmain.sh
/README
/src/cpp_test
/src/liblo.def
/src/subtest
/src/test_bidirectional_tcp
/src/testlo
/src/tools/oscdump
/src/tools/oscsend
/stamp-h1
/test
/test.cpp
